{% extends "base.html" %}
{% if user.is_authenticated %}



{% block title%}
  <div><h1>{{ user.username }} welcome to your profile page</h1></div>
{% endblock %}



<div>
{% block hello %} {% endblock %}
</div>

{% block content %}
{% if users %}
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right" style="margin-right: 100px; margin-left: 1000px; list-style-type: none;">
              <li style="float:right"><a href="{% url 'user_profiles:logout' user.username %}">
              <span class="glyphicon glyphicon-log-in" >
          
              </span> Logout</a></li>
          </ul>
      </div>
      <div style="margin-top:50px">
          <ul class="myul">
            {% for user in users %}
              <div>
                <li class="mylist" style="padding-right: 200px; padding-bottom: 20px"><a class="active" href="{% url 'user_profiles:view_profile' user.username %}">{{ user.username }}</a></li>
              </div>

            {% endfor %}
          </ul>
      </div>
{% else %}
    <p>No Users available.</p>
{% endif %}

{% endblock %}

{% endif %}