{% extends "base.html" %}


{% block content %}


 <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right" style="margin-right: 50px; margin-left: 600px; list-style-type: none;">


        <li style="float:right; margin-left: 20px"><a href="{% url 'user_profiles:logout' user.username %}">logout</a>
        </li>
         <li style="float:right; margin-left: 20px">
            <a href="{% url 'user_profiles:change_password' user.username %}">Change password </a>
         </li>

      </ul>
    </div>

  <div><h1>{{ user.username }} welcome to your profile page</h1></div>
        <form method="get" action="{% url 'user_profiles:edit_profile' user.username %}">
        {% csrf_token %}
        {% if user.profile.profile_photo %}
        <img src="{{ user.profile.profile_photo.url }}" width = "150" height = "150"  />
        {%endif%}
        <h2>Name: {{ user.first_name }} {{ user.last_name }}</h2>
        <h2>Email:  {{user.email}}</h2>
        <h2>Bio:  {{user.profile.bio}}</h2>
        <h2>Designation: {{user.profile.designation}}</h2>
        <h2>Work: {{user.profile.work_experience}}</h2>
        <h2>Education: {{user.profile.education}}</h2>
        <h2>Username: {{user.username}}</h2>
        <h2>Is_staff: {{user.is_staff}}</h2>
        <h2>Is_super: {{user.is_superuser}}</h2>

        <button type="submit" class="signupbtn" name="edit">Edit Profile</button>

        <button type="submit" class="cancelbtn" name="cancel">Cancel</button>


        </form>
{% endblock content %}
